@font-face {
    font-family: "Comic Sans MS";
    src: url("font.ttf");
}

body {
    font-family: Comic Sans MS;
    color:rgb(0, 0, 0);
    background-image: url(bg.jpg);
    background-repeat: repeat;
}

header {
    background-color: rgba(192, 192, 192, 0.1);
    text-align: center;
    font-size: 27px;
    backdrop-filter: blur(10px);
}

.pics {
    text-align: center;
}

.happy {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

.happy-text {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgba(192, 192, 192, 0.1);
    backdrop-filter: blur(10px);
}
